{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
		h1 {text-align: center;}
	</style>
{% endblock %}

{% block title %}
Simple search engine
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
        <h1 class="pt-5 pb-2">Welcome to my Simple Search Engine!</h1>

          {{ wtf.quick_form(form) }}

          <table class="table">
    			<tr>
    				<th>Date</th>
    				<th>Title</th>
    				<th>Link</th>
    				<th>Description</th>
    			</tr>

    			{% for column in table %}
    			<tr>
    				<td>{{ column.date }}</td>
    				<td>{{ column.title }}</td>
    				<td>{{ column.link }}</td>
    				<td>{{ column.description }}</td>
    			</tr>
    			{% endfor %}
    		</table>

    </div>
  </div>
</div>

{% endblock %}
